/*отступы внутри ячеек*/
.table
    tbody
    tr:global(.rcta--RcTable-row-level-0):global(.data-is-row)
    td:global(.rcta--RcTable-cell) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

/*отступы внутри фейковых ячеек*/
.table tbody tr:global(.data-is-spacer) td:global(.rcta--RcTable-cell) {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: none !important;
}

.table tr:global(.rcta--RcTable-placeholder) td:global(.rcta--RcTable-cell) {
    border-bottom: none !important;
}


table
    tbody
    tr:global(.rcta--RcTable-row-level-0):global(.data-is-row)
    td:global(.FirstColumn) {
        border-top-left-radius: var(--control-radius) !important;
        border-bottom-left-radius: var(--control-radius) !important;
        border-left: var(--control-border-width) solid var(--color-gray-100) !important;
        max-width: 4px !important;
        min-width: 4px !important;
}

table
    tbody
    tr:global(.rcta--RcTable-row-level-0):global(.data-is-row)
    td:global(.LastColumn) {
        border-top-right-radius: var(--control-radius) !important;
        border-bottom-right-radius: var(--control-radius) !important;
        border-right: var(--control-border-width) solid var(--color-gray-100) !important;
}

/*детализация*/
.table tbody tr:global(.rcta--RcTable-expanded-row) td {
    padding: 0px;
    border: var(--control-border-width) solid var(--color-bg-secondary);
    border-top-right-radius: var(--control-radius);
    border-bottom-right-radius: var(--control-radius);
    border-top-left-radius: var(--control-radius);
    border-bottom-left-radius: var(--control-radius);
}

